<app-container [title]="title">
  <app-card>
    <app-table
      (editCall)="createOrUpdate($event, formModal)"
      (deleteCall)="onDelete($event)"
      [tableId]="table.id"
      [head]="table.head"
      [sort]="table.sort"
      [url]="table.url">
      <div class="button-items">
        <app-button (onClick)="createOrUpdate(null, formModal)" btnClass="btn-info btn-rounded"
                    btnId="add-{{title.toLowerCase()}}"
                    btnTitle="Create">
          <i class="mdi mdi-plus mr-1"></i> Create
        </app-button>
      </div>
    </app-table>
  </app-card>
</app-container>

<!-- Standard Modal -->
<ng-template #formModal let-modal role="document">
  <form (ngSubmit)="onSubmit()" [formGroup]="fromGroup">
    <div class="modal-header">
      <h5 class="modal-title mt-0">Form {{actionTitle}} {{title}}</h5>
      <button (click)="modal.dismiss()" aria-hidden="true" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body">
      <div class="row mb-3">
        <div class="col-lg-6">
          <app-form-label>Name</app-form-label>
          <input [ngClass]="{'is-invalid': submitted && f.name.errors}" class="form-control form-control-sm"
                 formControlName="name" id="name" placeholder="Name"
                 type="text"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name {{'VALIDATION_ERROR.REQUIRED' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <app-form-label>Email</app-form-label>
          <input [ngClass]="{'is-invalid': submitted && f.email.errors}" class="form-control form-control-sm"
                 formControlName="email" id="email" placeholder="Email"
                 type="text"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email {{'VALIDATION_ERROR.REQUIRED' | translate}}</div>
            <div *ngIf="f.email.errors.email">Email {{'VALIDATION_ERROR.NOT_VALID' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <app-form-label>Phone Number</app-form-label>
          <input [ngClass]="{'is-invalid': submitted && f.phoneNumber.errors}" autocomplete="username"
                 class="form-control form-control-sm"
                 formControlName="phoneNumber" id="phone-number"
                 placeholder="Phone Number"
                 type="text"/>
          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.required">Phone Number {{'VALIDATION_ERROR.REQUIRED' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <app-form-label>Role</app-form-label>
          <select [ngClass]="{'is-invalid': submitted && f.roleId.errors}" class="form-select form-select-sm"
                  formControlName="roleId"
                  id="role-id">
            <option value="">Select Role</option>
            <option *ngFor="let role of roleOptions;" [value]="role.id">{{role.name}}</option>
          </select>
          <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
            <div *ngIf="f.roleId.errors.required">Role Id {{'VALIDATION_ERROR.REQUIRED' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <app-form-label>Password</app-form-label>
          <input [ngClass]="{'is-invalid': submitted && f.password.errors}" autocomplete="new-password"
                 class="form-control form-control-sm"
                 formControlName="password" id="password"
                 placeholder="Password"
                 type="password"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password {{'VALIDATION_ERROR.REQUIRED' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <app-form-label>Confirm Password</app-form-label>
          <input [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}" autocomplete="new-password"
                 class="form-control form-control-sm"
                 formControlName="confirmPassword" id="confirm-password"
                 placeholder="Confirm Password"
                 type="password"/>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm
              Password {{'VALIDATION_ERROR.REQUIRED' | translate}}</div>
            <div *ngIf="f.confirmPassword.errors.notMatched">Confirm
              Password {{'VALIDATION_ERROR.NOT_MATCHED' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <app-button [loading]="loading" btnClass="btn-primary" btnId="save-{{title.toLowerCase()}}" btnTitle="Save"
                  btnType="submit">
        Save
      </app-button>
      <button (click)="modal.close()" class="btn btn-light btn-sm" type="button">Close</button>
    </div>
  </form>
</ng-template>
